.perameter {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.viewport {
    height: 100%;
    overflow: scroll;
    padding-bottom: 200px;
}
.viewport::-webkit-scrollbar {
    display: none;
}