/* Image by 
<a href=
    "https://pixabay.com/users/denizecenci-6137739/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2785079">
        denizecenci
</a>
from 
<a href=
    "https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2785079">
        Pixabay
</a> */

.article-card {
    background: #000;
    background-image: url(cosmicbg.jpg);
    background-attachment: local;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: blue;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 0 auto 40px;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;

}

.article {
    width: 80%;
}
.preview {
    width: 45%;
}
.avatar {
    padding: 10px;
}

.content h2 {
    margin-bottom: 5px;
}

.content p {
    background: #ddd;
    padding: 5px;
    border-radius: 5px;

}
