.article-card {
    background: #eee;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 0 auto 40px;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;

}

.article {
    width: 80%;
}
.preview {
    width: 45%;
}
.avatar {
    padding: 10px;
}

.content h2 {
    margin-bottom: 5px;
}

.content p {
    background: #ddd;
    padding: 5px;
    border-radius: 5px;

}
