.footer {
    background-color: rgb(75, 15, 75);
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.phantom {
    display: block;
    padding: 20px;
    height: 60px;
    width: 100%;
}